<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="drum.css">
  <title>log-in</title>
</head>
<body>
  <div id="login-container">
    <form action="/login" id="login-form" method="post" action="/login">
      <h2>Login</h2>
      <input type="text" id="username" name="username" placeholder="Username">
      <input type="password" id="password" name="password" placeholder="Password">
      <button type="submit" id="submit-button">Submit</button>
      <p id="toggle-signup">Don't have an account? <a href="#">Sign up</a></p>
    </form>
  
    <form action="/sign-up" method="post"  id="signup-form" style="display: none;">
      <h2>Sign up</h2>
      <input type="text" id="new-username" name="username" placeholder="Username">
      <input type="password" id="new-password" name="password" placeholder="Password">
      <input type="password" id="confirm-password" name="confirmpassword" placeholder="Confirm Password">
      <button type="submit" id="signup-button">Sign up</button>
      <p id="toggle-login">Already have an account? <a href="#">Login</a></p>
    </form>
  </div>
  <script src="drum.js"></script>
</body>
</html>

